

img.shape {
  width: 360px;
  height: 359px;
  /* center the image */
  margin: auto;
  display: block;
}


.sv_q {
  min-height: 135px;
  overflow: visible !important;
}

.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}

.sv_q_erbox {
  display: none !important;
}

/* input button with disabled attribute */
input[type=button][disabled] {
  background-color: #eee !important;
  color: #aaa;
  cursor: not-allowed;
}

.rating-help {
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  width: 2.2ex;
  height: 2.2ex;
  font-size: 2ex;
  line-height: 2ex;
  border-radius: 2ex;
  margin-left: 4px;
  padding: 0;
  color: white;
  background: grey;
  border: none;
  text-decoration: none;
  cursor: help;
}