

img.shape {
  width: 360px;
  height: 359px;
  /* center the image */
  margin: auto;
  display: block;
}


.sv_q {
  min-height: 135px;
  overflow: visible !important;
}

.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}

.sv_q_erbox {
  display: none !important;
}